In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"D:/Joe Workspace/Github/python-alpha/cleaned-data/currency_pairs/forex_data_H1_AUD_CHF.csv")
df.head()

             timestamp    open    high     low   close
0  2025-02-08 00:00:00  0.5703  0.5706  0.5702  0.5704
1  2025-02-07 23:00:00  0.5702  0.5704  0.5700  0.5703
2  2025-02-07 22:00:00  0.5703  0.5705  0.5701  0.5702
3  2025-02-07 21:00:00  0.5706  0.5712  0.5701  0.5703
4  2025-02-07 20:00:00  0.5698  0.5706  0.5693  0.5706

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9900 entries, 0 to 9899
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  9900 non-null   object
 1   open       9900 non-null   float64
 2   high       9900 non-null   float64
 3   low        9900 non-null   float64
 4   close      9900 non-null   float64
dtypes: float64(4), object(1)
memory usage: 386.8+ KB

In [5]:
df.isnull().sum()

timestamp    0
open         0
high         0
low          0
close        0
dtype: int64